######################################################################################################################################################################################################
#ACTION		SOURCE		DEST		PROTO	DEST	SOURCE		ORIGINAL	RATE		USER/	MARK	CONNLIMIT	TIME		HEADERSSWITCH		HELPER
#							PORT	PORT(S)		DEST		LIMIT		GROUP
{% for section in shorewall6_rules %}
?SECTION {{ section.name }}
{% for rule in section.rules %}
{{ rule.action }} {{ rule.source|default('-') }} {{ rule.dest|default('-') }} {{ rule.proto|default('-') }} {{ rule.dest_port|default('-') }} {{ rule.source_port|default('-') }} {{ rule.orig_dest|default('-') }} {{ rule.rate_limit|default('-') }} {{ rule.user_group|default('-') }} {{ rule.mark|default('-') }} {{ rule.conn_limit|default('-') }} {{ rule.time|default('-') }} {{ rule.headers|default('-') }} {{ rule.helper|default('-') }}
{% endfor %}

{% endfor %}
