!.gitkeep

# Web directory (this gets generated)
web

# project files
/.idea

# composer
/vendor

# Mac indexes
.DS_Store

# local env and provisioning
/.vagrant
/ansible/*.retry

# CI
/ci/cache
/.php_cs

/app/resources/assets/css/
/node_modules/

# Docker scripts
generate.sh
serve.sh
