<div class="flex flex-auto flex-row-reverse mt-4">
    {% include "svg/balloon.html.twig" with { class: "balloon balloon-medium balloon--down text-blue-lighter" } %}
    {% include "svg/balloon.html.twig" with { class: "balloon balloon-large balloon--up text-blue-light mt-2 z-20" } %}
    {% include "svg/balloon.html.twig" with { class: "balloon balloon-small balloon--down text-blue-lightest" } %}
</div>
