<div class="flex flex-auto flex-row-reverse mt-4">
    {% include "svg/balloon.html.twig" with { class: "fill-current balloon balloon-medium balloon--down text-teal-lighter" } %}
    {% include "svg/balloon.html.twig" with { class: "fill-current balloon balloon-large balloon--up text-teal-light mt-2 z-20" } %}
    {% include "svg/balloon.html.twig" with { class: "fill-current balloon balloon-small balloon--down text-teal-lightest" } %}
</div>
