<div class="bg-white">
    <div class="container mx-auto">
        <div class="header flex">
            <div class="w-1/6">
                <a href="/" class="block">
                    {% include "svg/logo.html.twig" %}
                </a>
            </div>

            {% include "partials/balloons.html.twig" %}
        </div>
    </div>
</div>

{% include "partials/nav.html.twig" %}
