<h2 class="mb-4">Interested in speaking?</h2>

<div class="text-sm leading-normal">
    <p class="mb-4">We’re always looking for speakers, so do drop us a line, regardless of your experience, we’re all about first time speakers.</p>
    <p class="mb-4">If you’re looking for ideas, a few of the topics we’re keen to hear about are:</p>
    
    <ul>
        <li>Debugging & profiling</li>
        <li>Frameworks</li>
        <li>Lightning talks</li>
        <li>PHP7, PHPNG</li>
        <li>Support tools (e.g. phplint, boris, phpsh)</li>
    </ul>
</div>
