<li class="w-1/2 flex-none flex items-center justify-center">
    <a href="{{ sponsor.websiteUrl }}" class="p-2 block">
        <img src="{{ sponsor.logoUrl }}" alt="{{ sponsor.name }}">
    </a>
</li>
