<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PHPSW</title>
    <link rel="stylesheet" href="/css/site.css">
</head>
<body class="bg-grey-lightest">
    {% include "partials/header.html.twig" %}

    {% block content_top %}{% endblock %}

    <div class="bg-white py-8">
        <div class="container mx-auto px-2">
            <div class="-mx-4">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% include "partials/footer.html.twig" %}
</body>
</html>
