{% extends 'base.html.twig' %}

{% block content_top %}
    {% include 'partials/hero.html.twig' with {
        image_url: '/build/static/images/hero/events.jpeg',
    } %}
{% endblock %}

{% block content %}
    <h1 class="title">Events</h1>

    <div class="-mx-4 md:flex">
        <div class="px-4 pb-6 md:w-2/3 md:pb-0">
            <ul class="list-reset">
                {% for event in events|reverse %}
                    <li class="mb-6">
                        {% include 'partials/events/event.html.twig' %}
                    </li>
                {% endfor %}
            </ul>
        </div>

         <div class="px-4 md:w-1/3">
            {% include 'partials/interested-speaking.html.twig' %}
        </div>
    </div>
{% endblock %}
