{% extends "base.html.twig" %}

{% block content_top %}
    {% include "partials/hero.html.twig" with {
        image_url: '/images/hero/home.jpg',
    } %}
{% endblock %}

{% block content %}
    <div class="flex">
        <div class="w-2/3 px-4 content leading-normal text-sm">
            <h1 class="mb-4">PHP meetups in the south west, UK</h1>

            <p>PHP User Group, meets 2nd Wednesday of every month, in Bristol, UK, talking PHP and related technologies. We typically have a 2 or 3 speakers each month, and cover topics like debugging, frameworks, packages, scaling & testing. Anyone of any skill level is welcome to attend and speak, we usually have beer, pizza and a projector available.</p>
            <p>Find out more at <a href="http://www.meetup.com/php-sw">meetup.com/php-sw</a> and note our <a href="#0">code of conduct</a>.</p>
        </div>

        <div class="w-1/3 px-4">
            {% include "partials/sponsors.html.twig" %}
            {% include "partials/organisers.html.twig" %}
        </div>
    </div>
{% endblock %}
