{% extends "base.html.twig" %}

{% block content_top %}
    {% include "partials/hero.html.twig" with {
        image_url: '/images/hero/speakers.jpg',
    } %}
{% endblock %}

{% block content %}
    <h1 class="title">Speakers</h1>

    <div class="flex -mx-4">
        <div class="content w-2/3 px-4">
            <h2 class="mb-4">Alumni</h2>

            <ul class="flex flex-wrap list-reset speakers">
                {% for speaker in speakers %}
                    <li class="text-center relative mb-4 pb-6 w-32">
                        <a href="{{ personUrl(speaker) }}" class="block hover:underline">
                            <div class="block text-sm absolute pin-b pin-x">
                                {{ speaker.name }}
                            </div>

                            <img src="{{ speaker.photoUrl }}"
                                class="rounded-full border border-grey-lighter bg-white"
                                height="85"
                                width="85"
                                style="height: 85px">
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

        <div class="w-1/3 px-4">
            {% include "partials/interested-speaking.html.twig" %}
        </div>
    </div>
{% endblock %}
