{% extends "base.html.twig" %}

{% block body %}
    <div class="mx-4">
        <h1>PHP-SW speakers</h1>

        <ul class="flex flex-wrap">
            {% for speaker in speakers %}
                <li class="border border-green text-center relative mb-2 pb-4" style="width: 10%">
                    <a href="{{ personUrl(speaker) }}" class="block">
                        <div class="block text-sm absolute pin-b pin-x">{{ speaker.name }}</div>

                        <img src="{{ speaker.photoUrl }}"
                            class="rounded-full border border-grey-lighter bg-white"
                            height="85"
                            width="85">
                    </a>
                </li>
            {% endfor %}
            {% for speaker in speakers %}
            <li class="border border-green text-center mb-2 relative pb-4" style="width: 10%">
                <a href="{{ personUrl(speaker) }}" class="block">
                    <div class="block text-sm absolute pin-b pin-x">{{ speaker.name }}</div>

                    <img src="{{ speaker.photoUrl }}"
                        class="rounded-full border border-grey-lighter bg-white"
                        height="85"
                        width="85">
                </a>
            </li>
            {% endfor %}
            {% for speaker in speakers %}
            <li class="border border-green text-center mb-2 relative pb-4" style="width: 10%">
                <a href="{{ personUrl(speaker) }}" class="block">
                    <div class="block text-sm absolute pin-b pin-x">{{ speaker.name }}</div>

                    <img src="{{ speaker.photoUrl }}"
                        class="rounded-full border border-grey-lighter bg-white"
                        height="85px"
                        width="85px">
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
