{% extends "base.html.twig" %}

{% block title %}Sponsors &middot; {{ parent() }}{% endblock %}

{% block content_top %}
    {% include "partials/hero.html.twig" with {
        image_url: '/images/hero/sponsors.jpeg',
    } %}
{% endblock %}

{% block content %}
    <h1 class="title">
        Sponsors
    </h1>

   <div class="-mx-4 md:flex">
        <div class="px-4 pb-6 md:w-2/3 md:pb-0">
            <div class="mb-4">
                <h2 class="mb-2">Full Sponsors</h2>

                <ul class="list-reset flex flex-wrap items-center -mx-4">
                    {% for sponsor in fullSponsors %}
                        <li class="w-full sm:w-1/2 mb-16">
                            <div class="px-4">
                                {% include 'partials/sponsors/sponsor.html.twig' %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2 class="mb-2">Event Sponsors</h2>

                <ul class="list-reset flex flex-wrap items-center -mx-4">
                    {% for sponsor in eventSponsors %}
                        <li class="w-full sm:w-1/2 mb-16">
                            <div class="px-4">
                                {% include 'partials/sponsors/sponsor.html.twig' %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

       <div class="px-4 md:w-1/3">
            {% include 'partials/interested-sponsoring.html.twig' %}
        </div>
   </div>
{% endblock %}
