?FORMAT 2
###############################################################################
#ZONE	INTERFACE	OPTIONS
{% for interface in shorewall_interfaces %}
{{ interface.zone }} {{ interface.name }} {{ interface.options }}
{% endfor %}
