{% if talk.joindinUrl %}
    <div style="text-align:right;">
        <a href="{{ talk.joindinUrl }}" class="button bg-orange hover:bg-orange-dark">Leave feedback on Joind.in</a>
    </div>
{% endif %}