<h1 class="title">
    {{ talk.title }}

    <span class="inline-block text-xl lg:text-2xl text-grey-light font-normal">
        {{ talk.event.title }} - {{ eventDate(talk.event) }}
    </span>
</h1>
