<div class="flex items-baseline mb-2">
    <h2>
        <a href="{{ eventUrl(event) }}" class="link">
            {{ event.title }}
        </a>
    </h2>

    <span class="text-sm text-grey-light ml-2">
        {{ eventDate(event) }}
    </span>
</div>

<div class="text-sm leading-normal">
    {{ event.description }}
</div>
