#
# {{ ansible_managed }}
#

127.0.0.1 localhost
127.0.1.1 {{ inventory_hostname_short }} {{ inventory_hostname }}{% for host in local_hostnames %}{% if host != inventory_hostname %} {{ host }}{% endif %}{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{% if vagrant_hosts is defined %}
{% for host,ip in vagrant_hosts.iteritems() %}
{% if host != inventory_hostname %}
{{ ip }} {{ host }}
{% endif %}
{% endfor %}
{% endif %}
